html{
    height:90%;
    margin: 0;
    padding: 0
}
body{
    height:100%;
    background-color:#2590eb;
    color:#333;
    margin: 0;
    padding: 0
}
h1,h2,p{
    text-align:center
}
footer{
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    padding-left:10px
}
img,picture{
    display:block;
    margin-left:auto;
    margin-right:auto
}
input[type=url]{
    max-width:800px;
    padding:12px 20px;
    margin:8px 0;
    display:inline-block;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box
}
.maxwidth{
    max-width:100%;
}
.btn{
    background-color:#4169e1;
    border:none;
    border-radius:4px;
    color:#fff;
    padding:12px 16px;
    font-size:16px;
    cursor:pointer
}
.btn:hover{
    background-color:#1e90ff
}
.wrapper{
    width:100%;
    height:45%;
    display:flex;
    align-items:center;
    justify-content:center
}
.wrapper .file-upload{
    height:200px;
    width:200px;
    border-radius:100px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    border:4px solid #fff;
    overflow:hidden;
    background-image:linear-gradient(to bottom,#2590eb 50%,#fff 50%);
    background-size:100% 200%;
    transition:all 1s;
    color:#fff;
    font-size:100px
}
.wrapper .file-upload input[type=file]{
    height:200px;
    width:200px;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    cursor:pointer
}
.wrapper .file-upload:hover{
    background-position:0 -100%;
    color:#2590eb
}
.tooltip {
    position:relative;
    display:inline-block
 } 
.tooltip .tooltiptext {
    width:300px;
    visibility: hidden;
    background-color:#fff;
    color:#000;
    border-radius:6px;
    padding:5px;
    position:absolute;
    z-index:1;
    bottom:100%;
    left:105%;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
    visibility:visible;
    opacity:1;
}
.info{
    display:none;
    padding-bottom:2em;
    margin:2em
}
#api{
    padding-bottom:2em
}
#spinner-back, #spinner-front {
  position: fixed;
  width: 100vw;
  transition: all 1s;
  visibility: hidden;
  opacity: 0
}
#spinner-back {
  z-index: 998;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7)
}
#spinner-front {
  z-index: 999;
  color: #fff;
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%)
}
#spinner-back.show, #spinner-front.show {
  visibility: visible;
  opacity: 1
}
