<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ title }}</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" integrity="{{ css_sri }}" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" />
   </head>
   <body>
      <div class="wrapper">
         <div class="file-upload">
            <form method="post" id="form1" enctype="multipart/form-data" action="{{ url_for('api_post') }}">
               <input type="file" name="file" id="file">
               <i class="fa fa-arrow-up"></i>
            </form>
         </div>
      </div>
      <div class="wrapper">
          <form method="get" id="form2" action="{{ url_for('api_get') }}">
             <input autofocus type="url" name="url" id="url" placeholder="https://..." autocomplete="off">
             <input class="btn" type="submit" value="Go">
          </form>
      </div>
      <h1><a href="#" id="api">API</a></h1>
      <div id="api-info" class="api-info">
         <h2>Python</h2>
         <pre><code class="language-python">import requests

api_url = '{{ url }}api'
input_file = '/path/to/image.jpg'
output_file = '/path/to/image.avif'

r = requests.post(api_url, files={'file': open(input_file,'rb')})
if r.status_code == requests.codes.ok and r.headers.get('Content-Type') == 'image/avif':
    with open(output_file, 'wb') as f:
        f.write(r.content)
else:
    print('error')</code></pre>
    <br>
    <pre><code class="language-python">import requests

api_url = '{{ url }}api'
input_url = '{{ url }}static/tux.png'
output_file = '/path/to/tux.avif'

r = requests.get(api_url, params={'url': input_url})
if r.status_code == requests.codes.ok and r.headers.get('Content-Type') == 'image/avif':
    with open(output_file, 'wb') as f:
        f.write(r.content)
else:
    print('error')</code></pre>

         <h2>Shell</h2>
         <pre><code class="language-shell">curl --output /path/to/image.avif -L -F "file=@/path/to/image.jpg" {{ url }}api</code></pre>

         <h2>HTML</h2>
         <pre><code class="language-html">&lt;picture&gt;
    &lt;source srcset="{{ url }}api?url={{ url|urlencode }}static/tux.png" type="image/avif"&gt;
    &lt;img src="{{ url }}static/tux.png" alt="tux"&gt;
&lt;/picture&gt;</code></pre>
    
      </div>
      <footer>&nbsp;<a href="https://github.com/oittaa/avif-converter"><i class="fab fa-github"></i></a></footer>
      <script src="{{ url_for('static', filename='javascript.js') }}" integrity="{{ js_sri }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-core.min.js" integrity="sha512-xR+IAyN+t9EBIOOJw5m83FTVMDsPd63IhJ3ElP4gmfUFnQlX9+eWGLp3P4t3gIjpo2Z1JzqtW/5cjgn+oru3yQ==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-zc7WDnCM3aom2EziyDIRAtQg1mVXLdILE09Bo+aE1xk0AM2c2cVLfSW9NrxE5tKTX44WBY0Z2HClZ05ur9vB6A==" crossorigin="anonymous"></script>
   </body>
</html>
